<html>
    <head>
        <title>Koodausblogi</title>
    </head>
    <body>
        <h1>Koodausblogi - Postaukset</h1>
        <a href="{% url 'admin:index' %}">Django Admin</a>
        <br/>
        <a href="{% url 'uusi_postaus' %}">Uusi postaus</a>        
        <hr/>
        <ul>
            {% for postaus in postaukset %}
            <li>
                <a href="{% url 'nayta_postaus' postaus.id %}">
                    {{postaus}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
