{% extends "blogi/base.html" %}
{% load static %}

{% block content %}
<h1>Postaukset</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 g-xl-4">
    {% for postaus in postaukset %}
    <div class="col">
        <div class="card">
   
            <a href="{% url 'nayta_postaus' postaus.id %}">
                {% if postaus.kuva %}
                <img src="{{postaus.kuva.url}}"
                     class="card-img-top" alt=""
                     style="width: 100%; height: 12em; object-fit: cover;">
                {% else %}
                <img src="{% static 'blogi/ei-kuvaa.svg' %}"
                     class="card-img-top" alt=""
                     style="width: 100%; height: 12em; object-fit: cover;">
                {% endif %}
            </a>
            <div class="card-body">
                <h5 class="card-title"
                    style="white-space: nowrap;
                           overflow: hidden;
                           text-overflow: ellipsis;"
                >{{postaus.otsikko}}</h5>
                <p class="card-text"
                   style="height: 8em;
                          overflow: hidden;
                          text-overflow: ellipsis;"
                >{{postaus.luo_ingressi}}</p>
                <a href="{% url 'nayta_postaus' postaus.id %}"
                   class="btn btn-primary">Lue</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
