{% extends "blogi/base.html" %}

{% block content %}
<h1>Uusi postaus</h1>

{# Lomake, joka lähetetään POST-pyyntönä palvelimelle #}
<form method="post">

    {# Djangon CSRF-token, https://docs.djangoproject.com/en/4.1/ref/csrf/ #}
    {% csrf_token %}

    {% comment %}
    Luo rivit (row) ja sarakkeet (col), jotta saadaan lomake kapeammaksi
    isolla näytöllä.
    {% endcomment %}

    <div class="row">

        {# col-12    = oletuksena tämä sarake on leveydeltään 12 osaa 12:sta (= 100%) #}
        {# col-sm-10 = jos näyttö on leveämpi kuin SMall niin leveys on 10/12 (n. 83%) #}
        {# col-md-8  = jos näyttö on leveämpi kuin MeDium niin leveys on 8/12 (n. 66%) #}
        {# col-lg-6  = jos näyttö on leveämpi kuin LarGe niin leveys on 6/12 (= 50%) #}
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">

            {# Otsikko-kenttä #}
            {# form-floating = https://getbootstrap.com/docs/5.3/forms/floating-labels/ #}
            {# mb-3 = margin bottom 3, ks. https://getbootstrap.com/docs/5.3/utilities/spacing/ #}
            <div class="form-floating mb-3">
                <input class="form-control" id="otsikko" name="otsikko" placeholder="">
                <label for="otsikko" class="form-label">Otsikko</label>
            </div>

            {# Teksti-kenttä #}
            {# height: 10em = kentän korkeus on 10 x fonttikoko #}
            <div class="form-floating mb-3">
                <textarea class="form-control" id="teksti" name="teksti"
                 placeholder="" style="height: 10em"></textarea>
                <label for="teksti" class="form-label">Teksti</label>
            </div>

            {# Lähetä-nappi, tyylitelty bootstrapin primary-värillä #}
            {# Ks. värit ym. https://getbootstrap.com/docs/5.3/components/buttons/ #}
            <button type="submit" class="btn btn-primary">Lähetä</button>

        </div>
    </div>
</form>
{% endblock %}
